footer {
  min-height: 10dvh;
  background: #36395a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }
}
